{% extends 'game/sidebar.html' %}
{% load static %}
{% block content %}

	<div class="container text-center">
	  <div class="row">
			<!--this is the right column-->
			<div class="col-12 col-sm-9 offset-sm-3 text-left">
				<div class="m-entry">
					<div class="m-h">A Bit about the Creator
					</div>
					<div class="m-p">
            <span class="m-imp-txt">Name:</span> Alexandra <br>
            <span class="m-imp-txt">Nickname:</span> Ali, Alex<br>
            <span class="m-imp-txt">Age:</span> Secret<br>
            <span class="m-imp-txt">Major:</span> MA in Global Intercultural Communications<br>
						<span class="m-imp-txt">Hobbies:</span> Singing, drawing, graphic design, sculpting, photography, web design/development, hand puppets<br><br>
            <span class="m-imp-txt">A blurb:</span> Hey there--Or perhaps I should say "howdy"? No. Anyway! I hope you like this very, very, very basic website. I put a lot of love into it, and edited it for hours on end. I jumped too quickly into Django/Heroku when I should have first made a site like this. It is WAY too overwhelming when you go from self-contained Codecademy lessons about HTML, CSS and Javascript to Django. <br>Just don't do it. <br><br>
            I hope you also like my game! It's only in the planning stages as of now, but the general concept/story was thought of two years ago now. I hope that doing this 'demo version' will be the motivation to starting the real thing.<br>
            I'd really love it if people gave me feedback on what they liked/disliked about it, so that I can implement it in the final version.<br><br>
						See below for contact information and future projects I'll be working on!
					</div>
				</div>
				<div class="m-entry">
					<div class="m-h">Contact
					</div>
					<div class="m-p">
						Email: <a href="mailto:alexarcra@gmail.com" target="_top">alexarcra@gmail.com</a><br><br>
						<div class="container" style="width: 100%;">
							<div class="row justify-content-center">
									<a href="https://medium.com/@al11"><img src="https://i.imgur.com/fcuiTYS.png"  class="m-c-icon"></a>
									<a href="https://www.instagram.com/airuri/"><img src="https://i.imgur.com/tP28Nch.png"  class="m-c-icon"></a>
									<a href="https://twitter.com/MarbleNoseMouse"><img src="https://i.imgur.com/Ywew9Xq.png"  class="m-c-icon"></a>
									<a href="https://www.linkedin.com/in/alii-cordes/"><img src="https://i.imgur.com/n4wcXMb.png"  class="m-c-icon"></a>
									<a href="https://www.facebook.com/Skinparison/"><img src="https://i.imgur.com/8I1CHNd.png"  class="m-c-icon"></a>
							</div>
						</div>
							<br>Personal website: It's literally <a href="https://arurie.github.io/mySite/index.html">this site</a><br>
							Company website: The domain name has been purchased, but for now links <a href="www.skinparison.com">here.</a><br><br>
							Maybe you loved my website so much, you want to throw me a testimonial on LinkedIn (I won't complain).<br>Or, if you enjoyed my story and would like to read more of my writing, you can follow my newly-made Medium page.<br>I'll be adding short stories to it now and then to practice for the final game.<br><br>If you're an experienced web developer and would like to discuss anything, please drop me a message on any of the above accounts.<br><br>Icons from <a href="http://www.iconninja.com/black-white-social-media-icon-sets-365">Icon Ninja</a>.
					</div>
				</div>
				<div class="m-entry">
					<div class="m-h">Future Projects
					</div>
					<div class="m-p">
						<h5 class="text-center">Business Concept</h5>
						<img class="card-img-top img-fluid" src="https://i.imgur.com/kxc0AVl.jpg" alt="Card image cap">
						<p class=""><br>This image is a very rough concept sketch of my future business website and its search function.<br><br>Two years ago, I had the idea for my business. Plagued by sensitive skin, trying products proved both a gamble and waste of money.Companies doned their products with a universal solution through the guise of 'suitable for sensitive skin'. More often than not, this was not the case.<br><br>I seek to simplify the process through community validation, and various technological frameworks I'm still afraid to speak too publicly about. In January 2018, I even <span class="m-imp-txt">won a pitch competiton</span> for a small amount of funding towards my idea. <br><br>I am now in the process of forming an application for further funding.</p>
					</div>
					<div class="m-p">
						<h5 class="text-center">Mascot Concept</h5>
						<img class="card-img-top img-fluid" src="https://i.imgur.com/aKm8qJg.jpg" alt="Card image cap">
						<p class=""><br>The main thing I've learned from talking to people about my business idea is that they want a sense of community, ease of use, and a feeling of welcomeness. That's just what this little guy/girl was created for! They will offer users interface help, and can even redirect them to videos if they so prefer.<br><br>They will be the size of a small marble in the bottom right corner of the website, and upon clicking, will enlarge to a medium overlay. This is when they will ask the user what they can help them with, or if they just want someone to talk to. This interaction may become like that of an NPC in a game, but for now, these are all just ideas.<br><br> They may even be customizable down the line, or have various incarnations due to localization concerns, but for now, they're a lovable circus dog/slug!</p>
					</div>
					<div class="m-p">
						<h5 class="text-center">Final Game</h5>
						<img class="card-img-top img-fluid" src="https://i.imgur.com/fss4NV1.png" alt="Card image cap">
						<p class="">Image Credit: <a href="http://kunlizhan.com/wp/">Kunli Zhan</a><br><br>The final game will not be browser-based, but will instead utilize Game Maker 2. This means the inclusion of gameplay, images, and music! Mechanics will be a mix of top-down RPG exploration interspersed with visual novel sections to highlight social interactions. Each character will have a schedule, so it will be the player's choice when to interact with them. That system will be complicated, so wish me luck!</p>
					</div>
					<div class="m-p">
						<h5 class="text-center">Personal Brand Card</h5>
						<img class="card-img-top img-fluid" src="https://i.imgur.com/F0YxnGO.jpg" alt="Card image cap">
						<p class=""><br>The above are front/back designs for business cards of my personal brand. My business' cards  will be a different design. <br><br>I've found recently that networking is key, though I still struggle to do so! Knowing who you are and marketing yourself is integral for not only building your own business, but finding things to be confident about, as well.</p>
					</div>
				</div>
			</div>

		</div>
		<div>
			<br>
		</div>
	</div>
{% endblock %}
