{% extends 'game/sidebar.html' %}
{% load static %}
{% block content %}

	<div class="container text-center">
	  <div class="row">
			<!--this is the right column-->
			<div class="col-12 col-sm-9 offset-sm-3 text-left">
				<div class="m-entry">
					<div class="m-h">What is it?
					</div>
					<div class="m-p">
 						On an endless night, in a shut-off world, with the few who remain, your journey begins.
						You assume the identity of a nameless being, struggling to understand who or what they are.<br><br>
						Explore what little is left, and meet a colorful cast who may not all be as they appear.<br><br>
						This is a demo for a game I will be writing/developing in the next few years. The finished version will not be browser-based, or rely as heavily on text.<br>I hope you enjoy it nonetheless!
						The gameplay is inputting choices. For now, this is only for actions, but in the final version will extend to communication.<br><br>
						If you're familiar with visual novels or text adventures, that is the basic style this demo will be.
						This style was chosen because of both its simplicity for a short-term development, and because choosing how to communicate with others will be a key component with the themes presented.<br><br>
						Basically, communicating is difficult for a lot of people, and we aren't always able to see eye-to-eye. <br>
						Do your best to understand others, and make your motivations as clear as you can within the heavy constraints placed upon you. Good luck!
					</div>
				</div>
				<div class="m-entry">
					<p>
						<div class="m-h">Inspired By...
						</div>
						<div class="m-p">
							The inspiration for this game came from a year abroad, and the difficulties that brings. New places and dynamics are integral for gaining new perspectives and empathy, but some are better equipped to handle such situations than others. <br><br>This game is an exploration in navigating difficult social situations, where views differ and each party is equipped with their own memories, previous biases, reality filters, and baseline of understanding for any given situation.<br><br>Pssst, that's a fancy way of saying it's just like real-life interactions.
						</div>
					</p>
				</div>
				<div class="m-entry">
					<div class="m-h">Improving the Story Going Forward
					</div>
					<div class="m-p">
						If you're reading this after achieving a few endings in the demo, I hope you enjoyed it.<br><br>If anyone has input for how to make the story even better, be it characterization or pacing concerns, please email me at: <a href="mailto:alexarcra@gmail.com" target="_top">alexarcra@gmail.com</a>.<br>
					</div>
				</div>
				<div class="row">
					<br>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
